<!--
  Generated template for the AddEvaluationsToAsignaturaPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar no-border-top color="white">
    <ion-buttons end>
      <button ion-button icon-only (click)="presentPopover($event)">
        <ion-icon name="more"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title color="black">Editar Evaluaciones</ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding class="main-area">
  <ion-grid>
    <ion-row>

      <!-- Zona izquierda -->
      <ion-col col-12 col-sm-12 col-md-6 col-lg-6>
        <!-- Evaluaciones -->
        <ion-title>Evaluaciones</ion-title>

        <ion-card *ngIf="evaluations.length === 0" style="height: 300px" text-center>
          <ion-row style="height: 100%">
            <ion-col align-self-center>
              <ion-icon class="subjecticon" name="list" color="blue-grey"></ion-icon>
              <span>
                <ion-icon class="alerticon" name="alert" color="blue-grey"></ion-icon>
              </span>
              <h2>No se ha encontrado ninguna evaluación.</h2>
              <p>Cree una nueva evaluación para esta asignatura.</p>
            </ion-col>
            <ion-fab bottom right #fab1>
              <button ion-fab mini>
                <ion-icon name="color-wand"></ion-icon>
              </button>
              <ion-fab-list side="top">
                <button ion-fab (click)="importEvaluation(fab1)" arrow tooltip="Importar desde GAUSS" positionH="left">
                  <ion-icon name="cloud-upload"></ion-icon>
                </button>
                <button ion-fab (click)="createEvaluation(fab1)" arrow tooltip="Crear nueva" positionH="left">
                  <ion-icon name="add"></ion-icon>
                </button>
              </ion-fab-list>
            </ion-fab>
          </ion-row>
        </ion-card>

        <ion-list *ngIf="evaluations.length !== 0">
          <ion-card *ngFor="let evaluation of evaluations">
            <ion-item>
              <ion-row align-items-center="">
                <ion-col col-12 col-sm-7 col-md-7 col-lg-7>
                  <h2>{{ evaluation.name }}</h2>
                  <ion-badge color="danger" *ngIf="evaluation.totalWeight !== 100"
                             arrow tooltip="La suma de todas sus actividades no da el 100%" positionV="top">Faltan actividades</ion-badge>
                  <ion-badge color="secondary" *ngIf="evaluation.totalWeight === 100"
                             arrow tooltip="La suma de todas sus actividades da el 100%" positionV="top" >Evaluación válida</ion-badge>
                </ion-col>

                <ion-col col-12 col-sm-5 col-md-5 col-lg-5 align-self-end text-center="">
                  <button ion-button outline icon-only color="danger" (click)="deleteEvaluationOfSubject(evaluation)"
                          arrow tooltip="Eliminar" positionV="top">
                    <ion-icon name="trash"></ion-icon>
                  </button>
                  <button ion-button outline icon-only (click)="getAssingmentsOfEvaluation(evaluation)"
                          arrow tooltip="Editar actividades" positionV="top">
                    <ion-icon name="create"></ion-icon>
                  </button>
                </ion-col>
              </ion-row>
            </ion-item>
          </ion-card>

          <ion-row text-center>
            <ion-col col-12 col-sm-12 col-md-12 col-lg-12 text-center align-self-center align-items-center="">
              <button ion-button text-right color="create" icon-right (click)="createEvaluation(null)">
                Nueva Evaluación
                <ion-icon name="add"></ion-icon>
              </button>
            </ion-col>
          </ion-row>
        </ion-list>


      </ion-col>

      <!-- Zona derecha -->
      <ion-col col-12 col-sm-12 col-md-6 col-lg-6>

        <!-- Actividades -->
        <ion-title *ngIf="selectedEvaluation !== null">Configuración de {{selectedEvaluation.name}}</ion-title>

        <ion-label *ngIf="selectedEvaluation !== null" style="padding-left: 12px">
          La nota mínima establecida es: {{selectedEvaluation.minimumGrade}}
        </ion-label>

        <ion-card *ngIf="selectedEvaluation !== null && assingments.length === 0" style="height: 300px" text-center>
          <ion-row style="height: 100%">
            <ion-col align-self-center>
              <ion-icon class="subjecticon" name="list" color="blue-grey"></ion-icon>
              <span>
                <ion-icon class="alerticon" name="alert" color="blue-grey"></ion-icon>
              </span>
              <h2>No se ha encontrado ninguna actividad.</h2>
              <p>Cree una nueva evaluación para esta asignatura.</p>
            </ion-col>
            <ion-fab bottom right #fab2>
              <button ion-fab mini
                      (click)="createAssingmentForEvaluation(selectedEvaluation)"
                      arrow tooltip="Crear actividad" positionH="left">
                <ion-icon name="document"></ion-icon>
              </button>
            </ion-fab>
          </ion-row>
        </ion-card>

        <ion-list *ngIf="selectedEvaluation !== null && assingments.length !== 0">
          <ion-card *ngFor="let assingment of assingments">
            <ion-item>
              <ion-row>
                <ion-col col-12 col-sm-7 col-md-7 col-lg-7>
                  <h2>{{ assingment.name }}</h2>
                  <p> Nota mínima: {{ assingment.minimumGrade }} </p>
                  <p> Peso: {{ assingment.weight }} / 100</p>
                  <p *ngIf="assingment.numberOfParticipants === 1 "> Tipo: Individual</p>
                  <p *ngIf="assingment.numberOfParticipants !== 1 "> Tipo: Grupal ({{ assingment.numberOfParticipants }}
                    )</p>


                </ion-col>

                <ion-col col-12 col-sm-5 col-md-5 col-lg-5 align-self-center="" text-center="">
                  <button ion-button outline icon-only color="danger" (click)="deleteAssingment(assingment)"
                          arrow tooltip="Eliminar" positionV="top">
                    <ion-icon name="trash"></ion-icon>
                  </button>

                  <button ion-button outline icon-only (click)="editAssingment(assingment)"
                          arrow tooltip="Editar actividad" positionV="top">
                    <ion-icon name="create"></ion-icon>
                  </button>
                </ion-col>
              </ion-row>
            </ion-item>
          </ion-card>

          <p *ngIf="selectedEvaluationSum !== 100 " text-center>Faltan actividades para completar el 100% de la
            evaluación.</p>
          <p *ngIf="selectedEvaluationSum === 100 " text-center>Evaluación correcta. Las actividades suman el 100% de la
            evaluación.</p>

          <ion-row text-center>
            <ion-col col-12 col-sm-12 col-md-12 col-lg-12 align-self-center align-items-center>
              <button ion-button text-right color="create" icon-right disabled align-items-center
                      *ngIf="selectedEvaluationSum === 100 ">
                Nueva Actividad
                <ion-icon name="add"></ion-icon>
              </button>

              <button ion-button text-right color="create" icon-right align-items-center
                      (click)="createAssingmentForEvaluation(selectedEvaluation)"
                      *ngIf="selectedEvaluationSum !== 100 ">
                Nueva actividad
                <ion-icon name="add"></ion-icon>
              </button>
            </ion-col>
          </ion-row>


        </ion-list>


      </ion-col>

    </ion-row>
  </ion-grid>
</ion-content>

